@model Cours


<h3>@Model.Classe.Nomcomplet</h3>
<br />

<h4>Cours de @Model.CoursID @Model.Categorie @Model.Volume </h4>

<h5>Lecons de la classe</h5>

<p>Nombre des leçons : @Model.Lecons.Count()</p>

@foreach (Lecon item in Model.Lecons)
{
    <p>
        @item.Description - @item.DateLecon - @item.Duree
        <a asp-area="Professeur" asp-controller="Lecon" asp-action="Detail" asp-route-id="@item.LeconID">Detail</a>
    </p>
}

<h5>Epreuves faites dans le cours</h5>

<p>Nombre d'épreuves : @Model.Epreuves.Count()</p>

@foreach (Epreuve item in Model.Epreuves)
{
    <p>@item.Description - @item.DateEpreuve - @item.Periode - @item.Total - @item.Point</p>
    <a asp-area="Professeur" asp-controller="Epreuve" asp-action="Detail" asp-route-id="@item.EpreuveID">Detail</a>
    <br />
}