@model Classe;



<h3>@Model.Ecole.Nom - @Model.Ecole.SousDivision - @Model.Ecole.DateCreation</h3>
<br />

<h4>Classe de @Model.Niveau @Model.Option @Model.Option </h4>

<h5>Cours de la classe</h5>

<a asp-controller="Cours" asp-action="Create" asp-route-id_classe="@Model.ClasseID">Ajouter un cours</a>

<p>Nombre des cours : @Model.Cours.Count()</p>

@foreach (Cours cours in Model.Cours)
{
    <p>
        @cours.Intituler - @cours.Categorie - @cours.Volume
        <a asp-controller="Cours" asp-action="Update" asp-route-id="@cours.CoursID">Modifier</a>
        <a asp-controller="Cours" asp-action="Delete" asp-route-id="@cours.CoursID">Retirer</a>
    </p>
}

<h5>Elève inscris à la classe</h5>

<a asp-controller="Eleve" asp-action="Create">Inscrire un élève</a>

<p>Nombre d'inscriptions : @Model.Inscriptions.Count()</p>

@foreach (Inscription insc in Model.Inscriptions)
{
    <p>@insc.Eleve.Nom - @insc.Eleve.Postnom - @insc.Eleve.Prenom - @insc.Eleve.Matricule - @insc.Eleve.Genre - @insc.Eleve.DateNaissance</p>
    <a asp-controller="Eleve" asp-action="Update" asp-route-id="@insc.Eleve.EleveID">Modifier</a>
    <a asp-controller="Eleve" asp-action="Delete" asp-route-id="@insc.Eleve.EleveID">Retirer</a>
    <br />
}