@model Classe

<form asp-area="Prefet" asp-controller="Classe" asp-action="Update" asp-route-id="@ViewBag.EcoleID" asp-route-classeId="@Model.ClasseID" method="post">
    <table border="0">
        <tr>
            <td class="right">
                <label asp-for="Niveau"></label>
            </td>
            <td>
                <input type="text" asp-for="Niveau" />
                <span asp-validation-for="Niveau" class="message"></span>
            </td>
        </tr>
        <tr>
            <td class="right">
                <label asp-for="Section"></label>
            </td>
            <td>
                <select asp-for="Section" asp-items="@ViewBag.Sections">
                    <option value="">Selectionner une section</option>
                </select>
                <span asp-validation-for="Section" class="message"></span>
            </td>
        </tr>
        <tr>
            <td class="right">
                <label asp-for="Option"></label>
            </td>
            <td>
                <select asp-for="Option" asp-items="@ViewBag.Options">
                    <option value="">Selectionner une option</option>
                </select>
                <span asp-validation-for="Option" class="message"></span>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <button type="submit">Modifier</button>
            </td>
        </tr>
    </table>
</form>

<a asp-area="Prefet" asp-controller="Classe" asp-action="Index" asp-route-id="@ViewBag.PrefetID">Retour à  la liste des classes </a>